# environnement virtuel
venv/
# fichiers Python inutiles
__pycache__/
*.pyc
# fichiers système
.DS_Store

# Ne pas envoyer les fichiers contenus dans data sur github en laissant apparent le dossier (.gitkeep)
data/* 
!data/.gitkeep #! = not en bash

#Graphiques résultats 
results/**/* #les sous dossiers et leur contenu
!results/.gitkeep